* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  height: 70px;
  background: purple;
  padding: 0 50px;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
}

.enlaces {
  line-height: 70px;
  text-decoration: none;
  color: white;
  padding: 0 20px;
  display: inline-block;
}

.enlaces:hover {
  color: purple;
  background: white;
}

.section {
  height: 100vh;
  background-attachment: fixed;
}

section:nth-of-type(1) {
  margin-top: 70px;
  background: #12c2e9; /* fallback for old browsers */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

section:nth-of-type(3) {
  background: #f12711; /* fallback for old browsers */
  background: linear-gradient(to right, #f5af19, #f12711);
}

section:nth-of-type(2) {
  background: #373b44; /* fallback for old browsers */
  background: linear-gradient(to right, #4286f4, #373b44);
}

.title {
  font-size: 3rem;
  text-align: center;
  color: white;
  line-height: 100vh;
}
